* {
    padding: 0;
    margin: 0 auto;
}

.conteiner {
    width: 800px;
    margin-top: 18%;

    &-wrp {
        width: 273px;

        &-letters-top,
        &-letters-down {
            margin-left: 21px;
        }

        &-letters-top {
            transform: rotateX(180deg) rotateY(180deg);
            display: inline-block;
        }
    }

    &-field {
        border: 1px solid black;
    }

    &-span {
        transform: rotateX(180deg) rotateY(180deg);
        display: inline-block;
    }

    &-black,
    &-white {
        width: 30px;
        height: 30px;

    }

    &-black {
        background-color: black;
    }

    &-white {
        background-color: rgb(241, 241, 241);
    }



}